.displayGradient{
	/* background: linear-gradient(to right,#fdd055  0%, #ff4040 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent; */
	color: black;
    font-size: 40px;
    font-weight: 700;
	
}
.mainDiv{
	background: rgb(250, 217, 159);
	border:'2px solid black'
}
.mainDiv1{
	animation-name: login;
	animation-duration: 1s;
	transition: 0.5s;
}
.mainDiv2{
	animation-name: login;
	animation-duration: 1.2s;
	transition: 0.5s;
}
@keyframes login {
	from {opacity:0.2;translate: 0px 40px;}
	to {opacity: 1;translate: 0px 0px;}
}